v0/.ipynb_checkpoints/
v0/*.png
v0/r*.ipynb
DetectorAsymmetry/*.png
v1/*.png
v1/ag13628/
v1/ag14100/
v1/ag14106/
v1/ag14112/
v1/ag14235/
v1/ag14268/
v1/ag14286/
v0/ag13751/
v1/ag*/
v1/r*.ipynb
v1/__pycache__/
Bfield_multifidelity/.ipynb_checkpoints/
Bfield_multifidelity/myvenv/

DetectorAsymmetry/.ipynb_checkpoints

DetectorAsymmetry/analysis_output/
DetectorAsymmetry/DetectorStudies/
DetectorAsymmetry/TomAgMacros.C

toy/.ipynb_checkpoints/
toy/__pycache__/
toy/*.png
toy/Bfield/.ipynb_checkpoints
toy/output/*.npz
toy/output/*.ipynb

v1/.ipynb_checkpoints/
v1/Zpdf_comparison.zip
